## Week 8 task by Denis Khryashchev

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os.path
from sklearn import manifold

%matplotlib inline

In [2]:
# URL of the data and its local name
CSV_URL = "https://pjreddie.com/media/files/mnist_train.csv"
local_csv = "mnist_train.csv"

In [3]:
# Checking if we have already downloaded the data
if not os.path.isfile("mnist_train.csv"):
    pd.read_csv(CSV_URL, header = None).to_csv("mnist_train.csv")

In [4]:
# Loading the dataset iteratively, filtering only digit '0'
csv_iterator = pd.read_csv(local_csv, iterator = True, chunksize = 5000)
zero = pd.concat([portion[portion[portion.columns[1]] == 0] for portion in csv_iterator])

In [5]:
# Dropping the extra index and the label columns
zero = zero.drop(zero.columns[0], axis = 1)
zero = zero.drop(zero.columns[0], axis = 1)

# Proper indexing
zero = zero.reset_index(drop = True)

# Taking exactly 5000 observations
zero = zero.head(5000)

In [6]:
print len(zero)
zero.tail(5)

5000

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
4995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Creating the numpy array for ICA and clustering
X = zero.as_matrix()

In [8]:
# MDS  embedding of the digits dataset
clf = manifold.MDS(n_components = 2, n_init = 1, max_iter = 100)
X_mds = clf.fit_transform(X)
print("Done. Stress: %f" % clf.stress_)

Done. Stress: 8589328989546.637695

In [9]:
X_mds

array([[  159.94407612,  -594.76657171],
       [  622.51904349,  -654.24685962],
       [-1409.32274998, -1574.41142769],
       ...,
       [  959.25360741,  1405.93732775],
       [ -377.62953794,  2375.50362854],
       [ -855.84099005,  1099.71295301]])